.area-cadastro{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #A3B0D6;
    width: 100%;
    
}

.area-cadastro h1{
    margin-top: -20px;
    margin-bottom: 30px;
    font-size: 24px;
}
.area-cadastro img{
    width: 300px;
    margin-bottom: 22px;

}
.areainput{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    position: relative;
}
.areainput a{
    margin-bottom: 30px;
    text-decoration: none;
    color: #141414;
}
.icon {
    position: absolute;
    right: 0;
    top: 10px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
    width: 38px;
    height: 38px;
    margin-right: 10px;

}

.inputWithIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
}

