.area-projeto {
    background-color: #A3B0D6;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.container-cadastro {
    display: flex;
    justify-content: start;
    align-items: start;
    /* width: 100%; */
    flex-direction: column;
}

.area-total-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-left: 450px;
}

.area-cadastro-projeto {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 300px;

}

.titulo-projeto {
    font-size: 32px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 200px;
    width: 100%;
    text-align: center;
    color: #003366;
}


/* Large devices (desktops, 992px and up) */
