.h1-h1{
    color: #004c98;
}

.container-projeto{
    background-color: #A3B0D6;
    min-height: 100vh;
    height: 100%;
    display: flex;
}

.container-area{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 320px;

}
.area-novoprojeto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-right: 20px;
}

.btn-addprojeto{
    width: 40px;
    height: 40px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 20px;
    color: #000;
    cursor: pointer;
}
.titulo-criados{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.area-projetoscriados{
    margin-top: 20px;
    width: 100%;
}

.container-criados{
    width: 500px;
    height: 100px;
    background-color: #ddd;
    border-radius: 20px;
}

.area-urna{
    background-color: #ddd;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    height: 60px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 10px;


}
.area-urna .urnas{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .container-area{
        margin-left: 160px;
    }
    .titulo-criados{
        font-size: 18px;
    }
    .area-urna{
        height: 50px;
        width: 50%;
    }
    .area-urna .urnas{
        font-size: 14px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .container-area{
        margin-left: 220px;
    }
    .titulo-criados{
        font-size: 20px;
    }
    .area-urna{
        width: 40%;
    }
    .area-urna .urnas{
        font-size: 15px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .container-area{
        margin-left: 260px;
    }
    .titulo-criados{
        font-size: 24px;
    }
    .area-urna{
        margin-bottom: 10px;
        margin-top: 5px;
    }
    .area-urna .urnas{
        font-size: 18px;
    }
}