.modal{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-modal{
    background-color: #A3B0D6;
    width: 40%;
    height: 35%;
    border: 1px solid #000;
    display: flex;
    border-radius: 10px;

}

.btn-close{
    width: 32px;
    height: 32px;
    color: #000;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    right: calc(-100% + 64px);
    top: 16px;
    z-index: 10;
}

.btn-close::after,
.btn-close::before{
    content: ' ';
    position: absolute;
    width: 2.5px;
    height: 24px;
    background-color: #000;
}

.btn-close::before{
    transform: rotate(45deg);
}
.btn-close::after{
    transform: rotate(-45deg);
}

.content{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content h1{
    	margin-bottom: 30px;
}
.btn-salvar{
    margin-top: 20px;
}


/* Extra small devices (portrait phones, less than 767.98px) */
@media (max-width: 767.98px) {
    .content h1{
        font-size: 1.4rem;
    }
    .container-modal{
        width: 80%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .content h1{
        font-size: 1.6rem;
    }
}