.container-sobre {

    width: 100%;
    height: 100vh;
    z-index: -1;
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #A3B0D6;
}
.titulo{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #185c91;
}
.area-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.margin-card{
    margin-left: 320px;
}

.grupo1{
    display: flex;
    margin-bottom: 30px;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .margin-card{
        margin-left: 160px;
    }
    .area-card{
        flex-direction: row;
    }
    .grupo1{
        flex-direction: column;
    }
    .titulo{
        display: none;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .margin-card{
        margin-left: 220px;
    }
    .area-card{
        flex-direction: row;
    }
    .grupo1{
        flex-direction: column;
    }
    .titulo{
        font-size: 26px;
        text-align: center;
        margin-right: -30px;
        margin-left: 20px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .margin-card{
        margin-left: 260px;
    }
}